*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    font-family: 'montserrat', sans-serif;
    color: #fff;
    background-image: url('bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.app
{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: rgba(0,0,0,.7);
    height: 100vh;
}
.header
{
    padding: 50px 20px 30px 20px;
}
.header h1 
{
    font-size: 3em;
    color: #ffffff;
    text-shadow: 2px 5px rgba(0,0,0,.9);
}
.header input
{
    width: 100%;
    padding: 10px;
    background: transparent;
    border: 0;
    outline: 0;
    text-align: center;
    color: rgb(174, 248, 0);
    border-bottom: 2px solid #d3b5b5;
    font-size: 1em;
}
.city
{
    font-size: 1.5em;
    font-weight: 500;
    margin-bottom: 7px;
    text-shadow: 1px 3px rgba(0,0,0,.8);
}
.temp
{
    font-size: 3em;
    font-weight: 600;
    margin-bottom: 10px;
    text-shadow: 1px 3px rgba(0,0,0,1);
}

.desc 
{
    font-size: 1.5em;
    font-style: italic;
    margin-bottom: 7px;
    text-shadow: 1px 3px rgba(0,0,0,.7);
}
.minmax
{
    font-size: 24px;
    text-shadow: 1px 3px rgba(0,0,0,.7);
}
